.container {
  background-color: #000000;
  padding: 2rem 4rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-collection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.itemClass {
  padding: 1rem;
}
