.container {
  background-color: #000000;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card-collection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.itemClass {
  padding: 1rem;
}

.button-container {
  margin-top: 16px;
}

.button {
  color: "#808080";
}

.button-selected {
  color: "#808080";
  background-color: white;
}

.button:hover {
  background-color: white;
}
