* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
  height: 100%;
  scroll-padding: 0;
}

body {
  overflow: auto;
  height: 100%;
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
  text-align: center;
  color: white;
}
